<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Level2Pic.Options.Arguments" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Level2Pic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <Level2Pic.Options.Arguments>
            <setting name="Level_AutoSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Level_Background" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Level_BackgroundColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Level_BackgroundImagePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Level_Font" serializeAs="String">
                <value>Trebuchet MS, 12pt</value>
            </setting>
            <setting name="Level_FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Level_Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Zone_AutoSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Zone_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Zone_Cropping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Zone_EndPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zone_Font" serializeAs="String">
                <value>Trebuchet MS, 12pt</value>
            </setting>
            <setting name="Zone_Opacity" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Zone_StartPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zone_Text" serializeAs="String">
                <value>Text</value>
            </setting>
        </Level2Pic.Options.Arguments>
        <Level2Pic.Properties.Settings>
            <setting name="AutoRender" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSelection" serializeAs="String">
                <value>0</value>
            </setting>
        </Level2Pic.Properties.Settings>
    </userSettings>
</configuration>
